In [8]:
import pandas as pd
from pydataset import data # data is a function that gives a dataframe
from sqlalchemy import create_engine
from env import user, host, pw
# need to create this in an env file and enter user, host, and password

In [9]:
def get_db_url(db, user, host, password):
    from sqlalchemy import create_engine
#     url = f'mysql+mysqlconnector://{user}:{password}@{host}/{db}'
    url = 'mysql+pymysql://{}:{}@{}/ada_students'.format(user, pw, host)
    return create_engine(url)

conn = get_db_url('ada_students', user, host, pw)


df = pd.read_sql(
    'SELECT group_id, first_name, last_name, modules.module_id \
    FROM student_groups \
    JOIN students \
    ON student_groups.student_id = students.student_id \
    JOIN modules \
    ON  student_groups.module_id = modules.module_id \
    WHERE modules.module_id = 5 and group_id = 3 \
    ORDER BY group_id;', 
    conn)

In [10]:
df

   group_id first_name last_name  module_id
0         3      Sandy    Graham          5
1         3    Ednalyn   De Dios          5