In [1]:
# Eric Escalante's code:
import pandas as pd
from datetime import datetime

In [2]:
# df = pd.read_csv('./saas.csv')
# df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [3]:
# df.dtypes

Month_Invoiced        object
Customer_Id            int64
Invoice_Id             int64
Subscription_Type    float64
Amount               float64
dtype: object

In [4]:
# df['Month_Invoiced'] =  pd.to_datetime(df['Month_Invoiced'])

In [5]:
# df = df.set_index('Month_Invoiced')
# df = df.tz_localize('utc').tz_convert('America/Chicago')

In [16]:
def get_saas_data():
    df = pd.read_csv('./saas.csv')
#     df['Month_Invoiced'] =  pd.to_datetime(df['Month_Invoiced'])
#     df = df.set_index('Month_Invoiced')
#     df = df.tz_localize('utc').tz_convert('America/Chicago')
    return df

In [17]:
if __name__ == '__main__':
    df = get_saas_data()
    print(df.head())
    print(df.dtypes)

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0
Month_Invoiced        object
Customer_Id            int64
Invoice_Id             int64
Subscription_Type    float64
Amount               float64
dtype: object